@charset "utf-8";
@import url(fonts.css);

/*-------------------------------------------------------------------
    파일정의: Common css
    순서:    Header > table > list > form ... > Footer 
-------------------------------------------------------------------*/

.container {max-width: 1700px; margin: 0 auto;width: 95%;height: 100%;}
.sub_container {max-width: 1200px; margin: 0 auto;width: 95%;height: 100%;}
.table_container {max-width: 1500px; margin: 0 auto;width: 95%;height: 100%;}
.faq_container {max-width: 1620px; margin: 0 auto;width: 95%;height: 100%;}
.started_container {max-width: 770px; margin: 0 auto;width: 95%;height: 100%;}
.line_clamp_2 {overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.opacity_none {opacity: 0;}
.mo {display: block;}
.mo-none {display: none;}

img {width: 100%;height: 100%;object-fit: cover;transition: ease-in-out 0.3s;}
.btn {font-family: 'NanumSquareNeo';font-weight: 700;color: var(--color-light);background: var(--bg-dark);font-size: 30px;white-space: nowrap;
    box-shadow: 0px 0px 8px 5px rgba(219, 21, 131, 0.4),0px 0px 8px 5px rgba(219, 21, 131, 0.4);
    display: flex;align-items: center;gap: 187px;text-transform: uppercase;padding: 33px 30px;justify-content: space-between;}
.button_wrap {display: flex;justify-content: center;}
.button_wrap img {object-fit: contain;width: auto;}

#top_btn {position: fixed;right: 50px;width: 51px;height: 51px;bottom: 50px;z-index: 100;display: none;}
.contents {position: relative;}
/* header start */
header {height: 80px;background: var(--bg-dark);position: fixed;width: 100%;z-index: 10000;}
header .header_inn {display: flex;justify-content: space-between;align-items: center;height: 100%;}
header .logo {width: 99px;height: 58px;}
header nav {height: 100%;}
header .gnb a {display: flex;height: 100%;align-items: center;color: var(--color-light);font-size: 18px; font-family: 'NanumSquareNeo';font-weight: 500;text-transform: uppercase;transition: all 0.2s ease-in-out; }
header .gnb .gnb_list {position: relative;}
header .gnb .gnb_list .gnb_item.active {color: #db1583;font-weight: 900;}
header .gnb {display: flex;gap: 30px;height: 100%;}
header .snb {position: absolute;background: #000;padding: 14px 22px 16px;left: -22px;opacity: 0;transition: 0.3s ease;pointer-events: none;width: 180px;}
header .gnb .gnb_list .gnb_item.active .snb {pointer-events: auto;}
header .snb a {font-size: 16px;}
header .snb a:hover {color: #db1583;font-weight: 900;}
header .snb li {line-height: 26px;line-height: 30px;white-space: nowrap;}
/* header end */

/* mobile menu start*/
.hamburger {display:none;position: fixed;top: 20px;right: 20px;height: 28px;
    -webkit-transition: all 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
    transition: all 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);border: none;background: none;outline: none;z-index: 10000;text-indent: -999999px;}
.hamburger span {display: block;width: 28px;height: 2px; background-color: #fefefe; margin: 5px auto;-webkit-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;}
.hamburger.active span:nth-child(1) {-webkit-transform: translateY(7px) rotate(45deg);transform: translateY(7px) rotate(45deg);}
.hamburger.active span:nth-child(2) {opacity: 0;}
.hamburger.active span:nth-child(3) {-webkit-transform: translateY(-7px) rotate(-45deg);transform: translateY(-7px) rotate(-45deg);}

.mo_menu {position: fixed; background: var(--bg-dark);height: 100%;width: 100%;display: none;transition: top 0.3s ease;top: -100%;}
.mo_menu .depth1 > a span { display: block;float: left;padding: 10px 30px; width: 90%;color: #fefefe;box-sizing: border-box;}
.mo_menu .mo_list {position: relative;}
.mo_menu .mo_list img {width: 16px;height: 9px;cursor: pointer;}
.mo_menu .mo_list .mo_snb {display: none;}
.mo_menu .mo_snb  a {color: #fefefe;padding: 5px 50px;display: block;text-transform: uppercase;}
.mo_menu .mo_list.open img {transform: rotate(180deg);}
.mo_menu .depth1 > a {display: flex;align-items: center;text-transform: uppercase;}
.mo_menu.active {display: block;top: 70px;}
/* mobile menu end*/

/* table start */
.support .sub_wrap {padding: 0;}
.support .button_wrap .btn {font-size: 20px;padding: 19px 77px;}
table {font-family: 'Noto Sans CJK KR'; width: 100%;text-align: center;}
table thead {height: 47px;}
table.table  th {color: #fefefe;font-size: 20px;font-weight: 500;}
table.table td {color: #e0e0e0;font-size: 18px;font-weight: 200;height: 48px;border-top: 1px solid #747474;cursor: pointer;}
table.table td.title {text-align: left;position: relative;padding-left: 22px;line-height: 20px;}
table.table td.title::before {content: "";background: url(/assets/imgs/icons/ico_lock.png);width: 12px;height: 13px;position: absolute;left: 0;top: 50%;transform: translate(-50%, -50%);}
table.table td.answer {color: #db1583;}
/* table end */

/* inputs start */
input, input::placeholder, textarea, textarea::placeholder { font-size:14px;}
.table_info textarea{height: 137px;}
input {padding: 8px 8px 8px 85px;font-size: 20px;font-weight: 700;color: var(--color-light);border-bottom: 1px solid var(--color-light);}
textarea {padding: 8px 8px 8px 85px;font-size: 20px;font-weight: 700;color: var(--color-light);overflow-y: auto;border-bottom: 1px solid var(--color-light);}
.input_box {position: relative;width: 100%;display: flex;}
.input_box span {position: absolute;left: 1px;top: 10px;color: #e0e0e0;font-size: 20px;}
.table_info {display: flex;gap: 30px;}
.input_box.on {background: linear-gradient(to left, #B4CF66, #5eb853);}
.create_table tr td {width: 100%;}
.create_table tr {display: block;margin-bottom: 13px;}
label.file_upload_label {position: absolute;right: 0; width: 150px;height: 40px;display: flex;justify-content: center;align-items: center;background: #db1583;color: #e0e0e0;top: 6px;}
label.file_upload_label_detail {background-color: #585858;}
input.file_upload_input {display: none;}
input.file_name_qa {margin-right: 180px;}
table_input_file--box {margin-top: 13px;}
.checkbox_type_box {display: flex;align-items: center;margin-top: 4px;}
.checkbox_type_box .visibility-hidden {display: none;}
.checkbox_type_box .chk {display: inline-block;min-width: 20px;height: 20px;background: url(/assets/imgs/icons/ico_unchecked_box.png) no-repeat center;margin-right: 10px;position: relative;top: 2px;}
.checkbox_type_box > input[type='checkbox']:checked + .chk {background: url(/assets/imgs/icons/ico_checked_box.png);}
.checkbox_type_box .txt {font-size: 20px;color: #e0e0e0;white-space: nowrap;margin-right: 50px;}
.create_table {margin: 14px 0 0;}

.table_info_textarea .input_box {flex-direction: column;align-items: flex-start;}
.table_info_textarea .input_box span {position: relative;}
.table_info_textarea .input_box textarea {padding: 0 20px 10px 0;margin-top: 29px;}
/* inputs end */

/* password poppup start */
#popup_overlay {display: none;position: fixed;z-index: 99998;top: 0px;left: 0px;width: 100%;height: 100%;background: rgb(0, 0, 0);opacity: 0.8;}
#popup_container {display: none;position: relative; font-family: 'NanumSquareNeo';position: fixed;z-index: 2147483647;min-width: 500px;max-width: 500px;top: 50%;left: 50%;transform: translate(-50%, -50%);background: var(--bg-light);padding: 50px;}
#popup_container .popup_message {font-size: 20px;font-weight: 900;}
#popup_container .popup_panel {margin: 19px 0 39px;}
#popup_container .popup_panel input {color: var(--color-dark);border: 1px solid #585858;padding: 8px 10px;text-align: center;}
#popup_container .popup_btn {display: flex; justify-content: center;}
#popup_container .popup_btn a {background: var(--bg-pink);color: var(--color-light);font-size: 24px;font-weight: 700;
width: 150px;height: 50px;display: flex;align-items: center;justify-content: center;}
#popup_container .popup_close {position: absolute;top: 20px;right: 20px;}
/* password poppup end*/

/* scroll start */
.custom-scroll::-webkit-scrollbar {width: 6px;height: 8px;border: none;}
.custom-scroll::-webkit-scrollbar-button:start:decrement, .custom-scroll::-webkit-scrollbar-button:end:increment {height: 0px;}
.custom-scroll::-webkit-scrollbar-track {background-color: transparent;}
.custom-scroll::-webkit-scrollbar-thumb {background-color: #e1e1e1;border-radius: 3px;}
/* scroll end */

/* pagination start */
.paging_wrap {margin-top: 50px;}
.paging_conts {display: flex;align-items: center;gap: 15px;justify-content: center;}
.paging_conts .paging_number{font-size: 18px;color: var(--color-light);font-weight: 500;width: 41px;height: 41px;display: flex;justify-content: center;align-items: center;border: 1px solid #c2c0c0;}
.paging_conts .paging_number.active {background: #c2c0c0;}
.paging_conts .paging {width: 24px;height: 21px;}
.paging_conts .paging_start {background: url(/assets/imgs/icons/paging_start.png)no-repeat;    object-fit: cover;}
.paging_conts .paging_end {background: url(/assets/imgs/icons/paging_end.png)no-repeat;    object-fit: cover;}
.paging_conts .paging_prev {background: url(/assets/imgs/icons/paging_prev.png)no-repeat;    object-fit: cover;}
.paging_conts .paging_next {background: url(/assets/imgs/icons/paging_next.png)no-repeat;    object-fit: cover;}
/* pagination end */

/* footer start */
footer {background: #f5f5f5;}
footer .footer_inn{display: flex;justify-content: space-between;align-items: center;padding: 25px 0 80px;gap: 10px;}
footer .footer_inn .txt li a img {width: 28px;}
footer .footer_inn .txt li a:hover {font-weight: 900;}
footer .footer_inn .img {width: 745px;position: relative;top: -26px;}
footer .footer_inn .f_menu {display: flex;gap: 48px;}
footer .footer_inn .f_menu a{display: flex;gap: 48px;font-family: 'NanumSquareNeo';white-space: nowrap;}
footer .footer_inn .social {display: flex;gap: 30px;margin: 29px 0 20px;}
footer .footer_inn img {object-fit: contain;}
footer .footer_inn article{line-height: 30px;font-size: 18px;}
footer .footer_inn article > div{display: flex; align-items: center;}
footer .footer_inn article > div:first-child {white-space: nowrap;}
footer .footer_inn article > div p{font-weight: 700; }
footer .footer_inn article > div > span{content: '';background: var(--bg-dark);width: 2px;height: 2px;display: block;text-indent: -999px;margin: 0 7px;}
footer .footer_inn article > div > p > span {font-weight: 400;}
/* footer end */